.starship-container{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px solid white;
  align-items: center;
  border-radius: 10px;
} 

.details-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
  color: gold;
  background-color: black;
  height: 500px;
  gap: 40px;
  font-size: 28px;
}

.link-back-container {
  border: 4px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-top: 25px;
  padding: 10px;
} 

.link-back {
  border: white;
  display: flex;
  justify-content: center;
}
